<header>
    <h4>Placement Cell</h4>
    <div id="header-links">
        <%if (locals.user){%>
            <a>Username: <%=user.name%> </a>
            <a href="/users/sign-out">Sign Out</a>
        <%}else{ %>
            <a href="/users/sign-in">Sign In</a>
            <a href="/users/sign-up">Sign Up</a>
        <%}%>
    </div>
</header>