<link rel="stylesheet" href="/css/student_profile.css">
<div id="student-profile">
    <h1>Student Profiles</h1>
    <ul>
        <li>
            <%- include('enter_student_details'); %>
        </li><br><hr><br>
        <li>
            <%- include('list_of_students'); %>    
        </li><br><hr><br>
        <li>
            <%- include('enter_interview_details'); %>
        </li>
    </ul>
</div>