<div id="sign-in-container">
    <h1>Sign In</h1>
    <form action="/users/create-session" method="POST">
        <input type="email" placeholder="Enter your email" name="email" required>
        <br><br>
        <input type="password" placeholder="Enter your password" name="password" required>
        <br><br>
        <button type="submit">Sign In</button>
    </form>
</div>