<div id="sign-up-container">
    <h1>Sign Up</h1>
    <form action="/users/create" method="POST">
        <input type="text" name="name" placeholder="Enter your name" required>
        <br><br>
        <input type="email" name="email" placeholder="Enter your email" required>
        <br><br>
        <input type="password" name="password" placeholder="Enter your password" required>
        <br><br>
        <input placeholder="Confirm password" type="password" name="confirm_password" required/>
        <br><br>
        <button type="submit">Sign Up</button>
    </form>
</div>