header {
  background-color: green;
  color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
}

header #header-links {
  width: 200px;
  display: flex;
  justify-content: space-evenly;
}

header #header-links a {
  color: white;
  text-decoration: none;
}
