body {
  margin: 0;
  background-image: linear-gradient(to bottom right, cyan, #bfbfbf);
  padding-top: 100px;
}

body main {
  display: flex;
  justify-content: center;
  align-items: center;
}

body main div {
  text-align: center;
}

body #home-container {
  padding: 10px;
}
