#student-profile {
  background-color: white;
  width: 550px;
  border-radius: 10px;
  margin-bottom: 80px;
  text-align: start;
  padding: 10px;
}

#student-profile ul {
  list-style-type: none;
  padding-left: 0px;
  padding-right: 10px;
}

#student-profile ul li details {
  transition: all 1s ease-in-out;
  width: 100%;
  padding-left: 10px;
  cursor: pointer;
}

#student-profile ul li details form {
  width: 100%;
}

#student-profile ul li details form input {
  width: 100%;
}

#student-profile ul li details form select {
  width: 100%;
}

#student-profile ul li details #student-list {
  list-style-type: disc;
  padding-left: 20px;
}

#student-profile ul li details #student-list .single-student-data {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

#student-profile ul li #api-link {
  padding-left: 38%;
  padding-right: 30%;
  font-weight: 800;
  color: red;
  text-align: center;
}

#student-profile ul li #api-link:hover {
  color: blue;
}
