body{
    margin: 0;
    // background-color: #bcf9ff;
    background-image: linear-gradient(to bottom right, cyan, #bfbfbf);
    padding-top: 100px;
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        div{
            text-align: center;
        }
    }
    #home-container{
        padding: 10px;
    }
}